body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient( #725532, #624a2c, #292117);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: rgb(22, 9, 9);
    /* text-shadow: -2px 0 rgb(141, 127, 89), 0 2px rgb(141, 127, 89), 2px 0 rgb(141, 127, 89), 0 -2px rgb(141, 127, 89); */
    /* background-size: cover; */
    /* background-color: rgb(155, 230, 243); */
}

img {
    width: 20px;
    /* margin: 20px; */
}

.mineImg {
    width: 70px;
}

td {
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 10px;
    text-align: center;
    width: 26px;
    height: 26px;
    background-color: rgb(156, 156, 163);
    border: rgb(7, 7, 7) solid 1px;
}

.topContainer {
    margin: auto;
    padding: 12px;
    text-align: center;
    border: rgb(177, 100, 0) 4px solid;
    background-color: rgb(216, 133, 0);
    border-radius: 6px;
    margin-bottom: 25px;
    width: 650px;
}

table {
    background-color: #221f1d;
    margin: auto;
}

button {
    color: rgb(240, 208, 183);
    font-weight: 700;
    width: 120px;
    height: 50px;
    border-radius: 6px;
    background-color: rgb(167, 139, 120);
    margin-left: 50px;
    margin-right: 130px;
}

h2 {
    display: inline;
}

.gameOver,
.gameWin {
    display: none;
    color: white;
    text-align: center;
    background-color: rgba(136, 108, 74, 0.85);
    margin: auto;
    height: 100px;
    width: 250px;
    margin-bottom: 20px;
}

.nameGame {
    text-align: center;
    font-size: 66pt;
}

.difficulty {
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 40%;
    /* align-content: center; */
    color: #ffd59e;
    margin: 20px;
}


/* .difficulty {
    text-align: center;
    margin: auto;
    display: flex;
}  */